@media (max-width: 767px) {
  .chatbot-container {
    width: 90%; /* Adjust width for mobile */
    height: 60%;
    bottom: 88px;
    right: 5%;
    overflow: hidden;
  }

  .header-title {
    font-size: 16px;
  }

  .header-subtitle {
    font-size: 12px;
  }

  .message-input {
    font-size: 12px;
    padding: 8px;
  }

  .file-upload-icon {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chatbot-container {
    width: 70%; /* Adjust width for tablet */
    height: 60%;
    bottom: 88px;
    right: 5%;
    overflow: hidden;
  }

  .header-title {
    font-size: 18px;
  }

  .header-subtitle {
    font-size: 14px;
  }

  .message-input {
    font-size: 14px;
    padding: 10px;
  }
}
