<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chatbot</title>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../assets/css/styles.css" />
</head>

<body>
  <!-- Currency Container -->
  <div id="currencies-container" class="currencies-container"></div>

  <!-- Chatbot Toggle Button -->
  <button id="chatbot-toggle">
    <i class="bx bx-dollar-circle bx-lg"></i>
  </button>

  <!-- Chatbot Container -->
  <div id="chatbot" class="chatbot-container collapsed">
    <div class="chatbot-header">
      <span>Fenny</span>
      <div class="chatbot-controls">
        <!-- Maximize Button -->
        <button class="maximize-btn" id="maximize-btn">
          <i class="bx bx-plus"></i>
        </button>
        <!-- Minimize Button -->
        <button class="minimize-btn" id="minimize-btn">
          <i class="bx bx-chevron-down"></i>
        </button>
      </div>
    </div>

    <!-- Chat Messages -->
    <div class="chatbot-messages" id="message-box"></div>

    <!-- Input Area -->
    <div class="chatbot-input-area">
      <div class="input-container">
        <!-- File Upload Display -->
        <div id="file-upload-display" class="file-upload-display hidden">
          <div class="file-upload-content">
            <i class="bx bxs-file-pdf pdf-icon"></i>
            <button class="remove-file-btn" onclick="removeFile()">
              <i class='bx bxs-x-circle'></i>
            </button>
          </div>
          <div id="file-upload-progress" class="file-upload-progress hidden"></div>
        </div>

        <!-- File Upload Input -->
        <label for="file-upload" class="file-upload-icon">
          <i class="bx bxs-plus-circle"></i>
        </label>
        <input type="file" id="file-upload" class="file-input" accept="application/pdf" />

        <!-- Text Area -->
        <textarea class="message-input" id="message" placeholder="Type your message..."></textarea>

        <!-- Send Button -->
        <button class="send-btn" onclick="send()">
          <i class="bx bxs-chevrons-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="../assets/js/script.js"></script>
  <script src="../assets/js/currencies.js"></script>
</body>

</html>
