<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Background</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/background.css" />
  </head>

  <body>
    <div class="ChatContainer">
      <h1></h1>
    </div>
    <div class="currencies-container" id="currencies-container"></div>
    <script src="../static/js/background.js" type="module"></script>
  </body>
</html>
