/* Mobile screens */
@media (max-width: 767px) {
  .chatbot-container {
    width: 80%;
    height: calc(60% - 140px);
    bottom: 100px;
    right: 5%;
  }

  .header-title {
    font-size: 16px;
  }

  .header-subtitle {
    font-size: 12px;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    /* Stack icon and text */
    align-items: center;
    text-align: center;
  }

  .chatbot-controls {
    margin-left: auto;
    margin-right: auto;
  }

  .message-input {
    font-size: 12px;
    /* Smaller font on mobile */
    padding: 8px;
  }

  .file-upload-icon {
    font-size: 25px;
    /* Smaller icon on mobile */
  }
}

/* Tablet screens */
@media (min-width: 768px) and (max-width: 1024px) {
  .chatbot-container {
    width: calc(80% - 100px);
    height: calc(60% - 140px);
    bottom: 100px;
    right: 2%;
  }

  .header-title {
    font-size: 18px;
  }

  .header-subtitle {
    font-size: 14px;
  }

  .message-input {
    font-size: 14px;
    /* Adjust for tablet screens */
    padding: 10px;
  }
}
